<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.trysoft.dao.ClientMapper">

	<resultMap id="ClientResult" type="Client">
		<id property="clntNo" column="clntNo" />
		<result property="clntName" column="clntName" />
		<result property="clntAddr" column="clntAddr" />
		<result property="clntTel" column="clntTel" />
		
	</resultMap>
	

	<insert id="insertClient" parameterType="Client">
		INSERT INTO client (clntNo, clntName, clntAddr, clntTel)
		VALUES(#{clntNo}, #{clntName}, #{clntAddr}, #{clntTel})
	</insert>
</mapper>

